<div style="background: black;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <P>Ubicación</P>
                <hr>
                <p>
                    Avenida andromeda,2000
                    Alphavile SP
                    brasil@corebiz.ag
                    +55 11 3090 1039
                </p>
            </div>
            <div class="col-md-4">
                <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
                <br>
                <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/images/shared/logoCorebiz.svg" alt="Corebiz">
            </div>
        </div>
    </div>
</div>